/*Reset Css*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, i, ul, li,textarea,input
 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/*Fonts*/
body {
    font-family: 'Roboto', serif;
    font-weight: 400;
    color: #363a3e;
    box-sizing: border-box;
    overflow-x: hidden;
    background: #fbfbfb;
}
::-moz-selection { /* Code for Firefox */
    color: #363a3e;
    background: rgba(253, 203, 110, 0.48);
}
::selection {
    color: #363a3e;
    background: rgba(253, 203, 110, 0.48);
}
::-webkit-input-placeholder { /* Edge */
    color: #c7c7c7;
    font-size: 14px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #c7c7c7;
    font-size: 14px;
}

::placeholder {
    color: #c7c7c7;
    font-size: 14px;
}
#title {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 6px;
}
#description {
    font-size: 18px;
    line-height: 33px;
    -webkit-font-smoothing: antialiased;
}
#main-box {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all .8s;
    animation: fade 1s;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#social-links li {
    list-style: none;
    display: inline-block;
}
#instagram,#linkedin,#dribble,#envelope,#github,#codepen {
    margin-top: 10px;
    width: 23px;
    height: 23px;
    margin-right: 19px;
}
#linkedin {
    width: 22px;
    height: 22px;
}
#works {
    text-decoration: none;
    color: #fff;
    background: #363a3e;
    font-weight: 400;
    border-radius: 2px;
    padding: 14px 26px 15px 27px;
    font-size: 14px;
    margin-top: 23px;
    position: absolute;
}

/*Works*/
#line {
    position: absolute;
    width: 100%;
    left: -100%;
    top: 0;
    height: 2px;
    background: #fdd68d;
    transition: all .2s;
}
#works-page {
    position: absolute;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fbfbfb;
    transition: all .3s;
}
#works-page-container {
    width: 100%;
    max-width: 1300px;
    margin:0 auto;
    padding: 0 20px;
}
#works-page-list {
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -40%);
    transform: translate(-50%, -40%);
    transition: all 1s;
}
#works-page-list h4 {
    font-size: 53px;
    font-weight: 800;
    color: #e8e8e8;
    opacity: 0;
    transition: all 1s;
}
#works-page-list a {
    text-decoration: none;
    font-size: 58px;
    color: #363a3e;
    font-weight: 800;
    opacity: 0;
    transition: all 1s;
}
#back-home {
    position: absolute;
    right: 20px;
    top: 15px;
    opacity: 0;
    transition: all 1s;
    text-decoration: none;
    border-radius: 2px;
    padding: 14px 26px 15px 27px;
    background: #fdd68d;
    color: rgba(54, 58, 62, 0.62);
    font-weight: 600;
    font-size: 14px;
}

input[type="text"],input[type="email"],textarea {
    display: block;
    border-bottom: 2px solid #f1f1f1;
    padding: 14px 12px;
    outline: none !important;
    width: 100%;
    margin-bottom: 10px;
}
.modal-window {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s;
    transform: scale(.977);
}
.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.modal-window > div {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 50px 50px 48px 26px;
    background: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}
.modal-close:hover {
    color: black;
}

#form-btn {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background: #363a3e;
    font-weight: 400;
    border-radius: 2px;
    padding: 14px 26px 15px 27px;
    font-size: 14px;
    margin-top: 23px;
}
#success-msg {
    background: rgba(76, 175, 80, 0.21);
    color: #4CAF50;
    padding: 12px 15px;
    display: inline-block;
    width: 100%;
}
#contact-form-tooltip::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -6px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #fdd68d transparent transparent;
}
#contact-form-tooltip {
    width: 76px;
    position: absolute;
    border: 1px solid #fdd68d;
    padding: 5px 7px 4px 7px;
    font-size: 12px;
    border-radius: 1px;
    background: #fdd68d;
    color: rgba(54, 58, 62, 0.62);
    margin-top: 11px;
    margin-left: -4px;
    font-weight: 600;
}
/*Some responsive */
#mobile-nav {
    display: none;
}
@media (max-width: 925px) {
    #main-box {
        width: 500px;
    }
    .modal-window:target {
        overflow-y: scroll;
    }
    #works-page-list a {
        font-size: 30px;
    }
}
@media (max-height: 485px) {
    .modal-window {
        background-color: rgba(0, 0, 0, 0.37)
    }
    .modal-window:target {
        overflow-y: scroll;
        height: 100%;
    }
    .modal-window > div {
        margin: 117px 0 10px;
        height: 370px;
    }
}
@media (max-width: 530px) {
    #main-box {
        width: 100%;
        text-align: center;
    }
    #works,#contact-form-tooltip,#envelope {
        display: none;
    }
    #mobile-nav {
        display: inline-block;
        position: fixed;
        bottom: 0;
        padding: 20px 10px;
        width: 100%;
        text-align: center;
        box-shadow: 0px -3px 13px 0px rgba(221, 221, 221, 0.5019607843137255);
    }
    #mb-works,#mb-cf {
        text-decoration: none;
        background: rgba(253, 203, 110, 0.78);
        color: #363a3e;
        transform: skewX(15deg);
        display: inline-block;
        padding: 4px 14px;
        font-style: italic;
        font-size: 14px;
    }
    #title {
        font-size: 32px;
    }
    #description {
        font-size: 16px;
        padding: 0 28px;
    }
    #description span {
        border-bottom: 2px solid rgba(253, 203, 110, 0.78);
        padding-bottom: 3px;
    }
    #name-type {
        width: 167px;
        margin-bottom: 14px;
    }
    .modal-window > div {
        width: 80%;
    }
    #social-links {
        margin-top: 8px;
    }
    #works-page-list h4 {
        font-size: 30px;
    }
    #works-page-list a {
        font-size: 25px;
    }
}
