/*Reset Css*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    font-weight: normal;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}